#titlebar {
    background-color: #f0f0f0;
    height: 30px;
    border-bottom: 1px solid #d0d0d0;
    -webkit-app-region: drag;
    user-select: none;
}

#titlebar>button {
    -webkit-app-region: no-drag;
}

#app {
    height: calc(100vh - 30px);
    width: 100vw;
    overflow: auto;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.szh-menu__item {
    justify-content: space-between;
}

.szh-menu__item.szh-menu__item--submenu::after {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
}
